!!! 5
html(lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    != SocketStream
    title Dashboard
    style(type='text/css', id='cssHolder')
  body
    #wrapper
      #menu
        #logo Dashboard
        #newWidget +
      #widgets
        .widget.template
          .heading
            .title
            .button.caption.delete(title="Delete")
            .button.caption.config(title="Configure")
            .button.caption.clone(title="Clone")
          .content
